{
  "extends": [
    "airbnb"
  ],
  "env": {
    "browser" : true
  },
  "globals": {
    "ENV_DEV"      : false,
    "ENV_TEST"     : false,
    "ENV_PROD"     : false,
    "REPORT_COVERAGE" : false
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "import/no-extraneous-dependencies": ["error", {"devDependencies": true}],
    "comma-dangle": ["error", {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "never",
    }]
  }
}
